[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dfeR"]
	path = dfeR
	url = https://github.com/dfe-analytical-services/dfer
[submodule "shinyGovstyle"]
	path = shinyGovstyle
	url = https://github.com/dfe-analytical-services/shinygovstyle
